.cart-page {
  .box {
    &-head {
      padding: 30px 0;
      .text {
        &-title {
          font-weight: 500;
          font-size: 24px;
          line-height: 36px;
          color: #383838;
        }

        &-desc {
          display: block;
          margin-top: 4px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 25px;
          color: #383838;
        }
      }
    }

    &-content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 20px;
    }
  }

  .order-box {
    flex: 1;
    padding: 20px 30px 40px;
    background: #fff;
    box-shadow: 0px 2px 10px rgba(185, 166, 189, 0.1);
    border-radius: 6px;

    .order {
      &-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        border-top: 1px solid #dfe1e3;
        padding: 16px 0;
        gap: 20px;
        &:first-child {
          border-top: 0;
        }

        &-left {
          display: flex;
          align-items: center;
          gap: 10px;
          max-width: 480px;
        }

        &-right {
          display: flex;
          align-items: center;
          gap: 20px;

          button {
            background: transparent;
          }
        }
      }
    }

    .input {
      &-box {
        padding: 0px 2px;
        border: 1px solid #DFE1E3;
        border-radius: 4px;
      }

      &-counter {
        border: 0;
        outline: 0;
        width: 35px;
        height: 28px;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #383838;
        text-align: center;
      }
    }

    .counter {
      display: flex;
      justify-content: center;
      gap: 4px;
    }

    .btn {
      &-counter {
        display: inline-flex;
        align-items: center;
        padding: 4px;
      }

      &-remove {
        display: inline-flex;
        align-items: center;
        padding: 4px;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: .2s;
        &:hover {
          border-color: #DFE1E3;
        }
      }
    }

    .total-final {
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      color: #383838;
    }

    .thumb {
      display: flex;

      img {
        border-radius: 4px;
        object-fit: cover;
      }
    }

    .info {
      &-name {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #383838;
      }

      &-price {
        display: block;
        margin-top: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #383838;
      }
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }
  }

  .summary-box {
    width: 380px;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 2px 10px rgba(185, 166, 189, 0.1);
    border-radius: 6px;
    

    .summary {
      &-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #383838;
      }

      &-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 12px;
      }

      &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        .key,
        .value {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #383838;
        }
      }

      &-total {
        padding-top: 10px;
        border-top: 1px solid #dfe1e3;
        .key,
        .value {
          font-weight: 500;
          font-size: 18px;
        }
      }
    }

    .btn {
      &-checkout {
        margin-top: 20px;
      }

      &-continue-shoping {
        display: inline-flex;
        margin-top: 12px;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #383838;
        transition: .2s;
        &:hover {
          color: #000;
          text-decoration: underline;
          text-underline-position: under;
        }
      }
    }
  }

  .icon {
    &-minus {
      display: inline-block;
      width: 22px;
      height: 22px;
      background: url(/images/svg/icon-minus.svg) no-repeat;
      background-size: 100% auto;
    }

    &-plus {
      display: inline-block;
      width: 22px;
      height: 22px;
      background: url(/images/svg/icon-plus.svg) no-repeat;
      background-size: 100% auto;
    }

    &-remove {
      display: inline-block;
      width: 22px;
      height: 22px;
      background: url(/images/svg/icon-trash.svg) no-repeat;
      background-size: 100% auto;
    }
  }
}