.main {
  min-height: 100svh;
  background-color: #fff;

  .section {
    padding: 80px 0;
  }
}

.key-visual {
  display: flex;
  align-items: center;
  position: relative;
  height: 463px;
  background-color: #F5E0E5;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 1250px;
    height: 100%;
    background-image: url(../../public/images/img-keyvisual.png);
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
    content: '';
  }

  &-content {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    z-index: 3;

    .text {
      &-title {
        font-size: 36px;
        font-weight: 700;
        color: #383838;
        line-height: 54px;
        text-transform: uppercase;
      }

      &-desc {
        margin-top: 20px;
        font-size: 24px;
        font-weight: 400;
        color: #383838;
        line-height: 36px;
      }
    }

    .btn-shop {
      width: 246px;
      margin-top: 54px;
    }
  }
}

.section {
  &-new-arrivals,
  &-best-sellers,
  &-blogs {
    .box-content {
      position: relative;
      padding-bottom: 30px;
    }
  }

  &-kits {
    .kits {
      &-list {
        display: flex;
        flex-direction: column;
        gap: 60px;
      }

      &-item {
        display: flex;
        align-items: center;
        gap: 30px;

        &:nth-child(even) {
          .thumb {
            order: 1;
          }

          .kits-info {
            order: 2;
          }
        }

        .text {
          &-wrap {
            display: flex;
            flex-direction: column;
            gap: 30px;
          }
          &-title {
            font-weight: 500;
            font-size: 36px;
            line-height: 54px;
            color: #383838;
          }

          &-desc {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            color: #697586;
          }

          &-tag {
            padding: 0px 10px;
            background: rgba(180, 176, 190, 0.2);
            border-radius: 70px;
            font-weight: 400;
            font-size: 12px;
            line-height: 30px;
            color: #383838;
          }
        }

        .tag-group {
          display: flex;
          gap: 5px;
        }

        .btn-group {
          display: flex;
          align-items: center;
          margin-top: 30px;
          gap: 30px;

          .btn-buy {
            width: 246px;
          }
        }
      }
    }
  }

  .product-blog {
    .blog-item {
      flex-direction: column;
      gap: 0;

      .thumb {
        width: 100%;
        height: 220px;
        border-radius: 0;
      }

      .blog-info {
        padding: 12px 20px 20px;
      }

      .text {
        &-wrap {
          height: 143px;
        }

        &-title {
          font-size: 20px;
          font-weight: 600;
          line-height: 27px;
        }

        &-desc {
          margin-top: 8px;
          display: -webkit-box;
          overflow: hidden;
          color: #383838;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
      }

      .btn-more {
        margin-top: 8px;
        max-width: 100%;
      }
    }
  }
}

.swiper-product-home {
  .swiper-wrapper {
    align-items: flex-start;
  }
  .card {
    width: 100%;

    &-info {
      .text-title {
        height: 40px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
      }
    }
  }
}

.section-skin-quiz {
  position: relative;

  &:before {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    height: 226px;
    background-color: rgba(#fee2e3, $alpha: 0.3);
    content: '';
  }

  .skin-quiz-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    gap: 123px;

    .image-box {
      position: relative;
      width: 307px;
      height: 322px;

      &:after {
        position: absolute;
        top: 130px;
        right: -58px;
        z-index: -1;
        width: 163px;
        height: 212px;
        background: url(../../public/images/img-decor-bloom.png) no-repeat;
        content: '';
      }
    }

    .info-box {
      .btn-explore {
        width: 246px;
        margin-top: 22px;
      }
    }

    .quiz {
      &-title {
        font-size: 36px;
        font-weight: 700;
        color: #383838;
        line-height: 54px;
      }

      &-desc {
        display: block;
        margin-top: 6px;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        color: #697586;
        line-height: 22px;
      }
    }
  }
}