.about-page {
  overflow: hidden;
  padding-bottom: 0;

  .section {
    padding: 180px 0;

    @include respond(tablet) {
      padding: 120px 0;
    }

    @include respond(phone) {
      padding: 80px 0;
    }

    &-head {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-content {
      margin-top: 48px;
    }

    .text {
      &-title {
        display: block;
        margin-bottom: 40px;
        font-weight: 500;
        font-size: 48px;
        line-height: 1;
        color: #fff;

        @include respond(phone) {
          margin-bottom: 20px;
          font-size: 30px;
          line-height: 40px;
        }
      }

      &-desc {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 1.2;
        color: #fff;

        @include respond(tablet) {
          font-size: 19px;
        }

        @include respond(phone) {
          font-size: 15px;
        }

        & + .text-desc {
          margin-top: 30px;
        }
      }
    }
  }

  .key-visual {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    background: url(/images/about-001.png) no-repeat;
    background-size: cover;
    background-position: center;

    &-box {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      padding: 0 50px;
      transform: translate(-50%, -50%);
      z-index: 2;
      text-align: center;
    }

    &-title {
      font-weight: 500;
      font-size: 95px;
      line-height: 1.2;
      color: #fff;

      @include respond(tablet) {
        font-size: 82px;
      }

      @include respond(phone) {
        font-size: 50px;
      }
    }
  }

  .our {
    &-born {
      background-color: #000;

      .image {
        position: relative;
        height: 800px;

        @include respond(phone) {
          height: 420px;
        }

        img {
          display: block;
        }
      }

      .info {
        margin-top: 48px;
      }

      .text-desc {
        text-align: center;

        @include respond(phone) {
          text-align: left;
        }
      }
    }

    &-mantra {
      background: linear-gradient(200deg, #dcccb3, #fdde11);

      .section-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        .text-desc {
          .text {
            &-italic {
              font-family: 'Caveat', sans-serif;
              font-weight: 600;
              font-size: 54px;

              @include respond(tabletPro) {
                font-size: 46px;
              }

              @include respond(phone) {
                font-size: 40px;
              }
            }
            &-uppercase {
              font-style: normal;
              font-weight: 500;
              text-transform: uppercase;
            }
          }
        }
      }

      .item-group {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 30px;

        @include respond(tablet) {
          min-height: 400px;
        }

        &:first-child {
          .thumb {
            position: absolute;
            width: 300px;
            height: 326px;

            @include respond(tabletPro) {
              width: 260px;
              height: 320px;
            }

            &-01 {
              top: 0;
              left: -145px;
              z-index: 2;

              @include respond(tabletPro) {
                left: -20px;
              }

              @include respond(tablet) {
                left: -200px;
              }
            }

            &-02 {
              top: -65px;
              left: 84px;
              z-index: 3;

              @include respond(tabletPro) {
                left: 180px;
              }

              @include respond(tablet) {
                left: 60px;
              }
            }

            &-03 {
              top: 145px;
              right: 30px;
              z-index: 1;

              @include respond(tablet) {
                right: -54px;
              }

              @include respond(phone) {
                right: -140px;
              }
            }
          }

          .image {
            min-height: 420px;
            // aspect-ratio: 3 / 4;

            @include respond(tablet) {
              left: -150px;
            }
          }

          .info {
            @include respond(tabletPro) {
              width: 54%;
            }

            @include respond(tablet) {
              width: 80%;
            }

            @include respond(phone) {
              width: 85%;
            }
          }
        }

        &:nth-child(2) {
          .thumb {
            width: 300px;
            height: 400px;
          }

          .image {
            @include respond(tablet) {
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }

        &:nth-child(3) {
          .thumb {
            width: 300px;
            height: 388px;

            @include respond(phone) {
              width: 280px;
              height: 388px;
            }
          }

          .info {
            @include respond(tablet) {
              text-align: center;
            }
          }

          .image {
            @include respond(tablet) {
              position: absolute;
              top: 0;
              left: 0;
            }
          }

          .image-right {
            @include respond(tablet) {
              left: auto;
              right: 0;
            }

            .thumb {
              margin-top: 0;
              width: 326px;

              @include respond(phone) {
                width: 280px;
              }
            }

            img {
              top: 40px;
              left: -22px;
            }
          }
        }

        &:nth-child(4) {
          align-items: flex-end;

          .thumb {
            width: 326px;
            height: 420px;

            @include respond(phone) {
              width: 280px;
              height: 380px;
            }

            img {
              left: 66px;
            }
          }

          .image {
            @include respond(tablet) {
              position: absolute;
              top: 0;
              right: -80px;
            }
          }
        }

        &:last-child {
          flex-direction: column;
          align-items: flex-start;
          margin-top: 150px;

          .thumb {
            width: 900px;
            height: 600px;
          }

          .info {
            width: 100%;
            padding-left: 200px;

            @include respond(tablet) {
              padding-left: 0;
            }
          }
        }
      }

      .text {
        &-title {
          font-family: 'Caveat', sans-serif;
          font-size: 68px;
          font-weight: 600;
          color: #000;

          @include respond(phone) {
            font-size: 50px;
          }
        }

        &-desc {
          font-size: 48px;
          line-height: 1.2;
          color: #000;

          @include respond(phone) {
            font-size: 30px;
          }

          &+.text-desc {
            margin-top: 20px;
          }
        }
      }

      .image {
        display: flex;
        position: relative;
        z-index: 1;
        flex: 1;

        .thumb {
          position: relative;
        }
      }

      .info {
        position: relative;
        z-index: 2;
        width: 66%;

        @include respond(tablet) {
          width: 100%;
        }
      }
    }
  }
}