:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.inner {
  width: 1216px;
  margin: 0 auto;
}
.wrap {
  width: 100%;
  height: auto;
  background-color: #F9FAFC;
}
ul,li {
  list-style: none;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  border: 1px solid #252525;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 500;
  color: #383838;
  line-height: 21px;
  text-transform: capitalize;
  transition: .2s;
}
.btn:hover {
  background-color: #f5a3b7;
  border-color: #f5a3b7;
  color: #fff;
}