@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Montserrat:wght@400;500&display=swap");

body {
  font-family: 'Poppins', sans-serif;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}