.blog {
  &-item {
    display: flex;
    align-items: center;
    gap: 30px;

    &:not(:first-child) {
      margin-top: 60px;
    }

    &:nth-child(even) {
      .thumb {
        order: 2;
      }

      .blog-info {
        order: 1;
      }
    }

    .thumb {
      overflow: hidden;
      position: relative;
      width: 598px;
      height: 500px;
      border-radius: 6px;
    }

    .blog-info {
      flex: 1;

      .text {
        &-time {
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 25px;
          color: #B0A6BD;
        }

        &-title {
          font-weight: 500;
          font-size: 36px;
          line-height: 54px;
          color: #383838;
        }

        &-desc {
          display: block;
          margin-top: 30px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 27px;
          color: #697586;
        }

        &-tag {
          padding: 0px 10px;
          background: rgba(180, 176, 190, 0.2);
          border-radius: 70px;
          font-weight: 400;
          font-size: 12px;
          line-height: 30px;
          color: #383838;
        }
      }

      .tag-group {
        display: flex;
        align-items: center;
        margin-top: 30px;
        gap: 5px;
      }
    }

    .btn-more {
      max-width: 246px;
      margin-top: 30px;
    }
  }
}