.filter-area {
  .filter {
    &-title {
      display: block;
      position: relative;
      width: 100%;
      padding: 10px 20px 10px 0px;
      background-color: transparent;
      font-size: 15px;
      font-weight: 600;
      color: #383838;
      line-height: 21px;
      text-transform: capitalize;
      text-align: left;
      cursor: pointer;

      &:after {
        position: absolute;
        top: 50%;
        right: 0;
        width: 24px;
        height: 24px;
        background: url(../../public/images/svg/icon-arrow-down.svg) no-repeat;
        background-size: 100% auto;
        transition: .2s linear;
        transform: translateY(-50%);
        content: '';
      }
    }

    &-group {
      margin-top: 12px;
    }

    &-group-item {
      border-bottom: 1px solid #DFE1E3;
      background: #fff;

      &:last-child {
        border-bottom: 0;
      }

      &.is-open {
        .filter-title {
          &:after {
            transform: translateY(-50%) rotate(180deg);
          }
        }
      }
    }

    &-list {
      padding-bottom: 10px;
    }

    &-item {
      margin-top: 10px;

      .checkbox {
        display: flex;
        align-items: center;

        &-input {
          display: none;
        }

        &-label {
          position: relative;
          padding-left: 28px;
          font-size: 14px;
          font-weight: 400;
          color: #383838;
          line-height: 21px;
          cursor: pointer;

          &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 18px;
            height: 18px;
            transition: background .2s linear;
            content: '';
          }
        }

        input[type="checkbox"] {
          &~.checkbox-label {
            &:before {
              background: url(../../public/images/svg/icon-checkbox.svg) no-repeat;
              background-size: 100% auto;
            }
          }

          &:checked {
            &~.checkbox-label {
              &:before {
                background: url(../../public/images/svg/icon-checkbox-checked.svg) no-repeat;
                background-size: 100% auto;
              }
            }
          }
        }

        input[type="radio"] {
          &~.checkbox-label {
            &:before {
              background: url(../../public/images/svg/icon-radio.svg) no-repeat;
              background-size: 100% auto;
            }
          }

          &:checked {
            &~.checkbox-label {
              &:before {
                background: url(../../public/images/svg/icon-radio-checked.svg) no-repeat;
                background-size: 100% auto;
              }
            }
          }
        }
      }
    }
  }

  .text-title {
    font-size: 20px;
    font-weight: 600;
    color: #383838;
    line-height: 32px;
    text-transform: uppercase;
  }

  .btn-filter {
    margin-top: 24px;
  }
}