.product-gallery {
  overflow: hidden;

  .swiper {
    .thumb-image {
      position: relative;
      width: 84px;
      height: 84px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.gallery {
  &-image {
    position: relative;
    width: 100%;
    height: 495px;
  }

  &-thumbs {
    margin-top: 20px;
  }
}