.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: calc((100% - 40px) / 3);
  min-height: 540px;
  border-radius: 6px;

  &-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;

    .text {
      &-title {
        display: -webkit-box;
        overflow: hidden;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        color: #383838;
        text-transform: capitalize;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical
      }

      &-desc {
        display: -webkit-box;
        overflow: hidden;
        height: 43px;
        margin-top: 10px;
        font-size: 14px;
        font-weight: 400;
        color: #697586;
        line-height: 22px;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      &-price {
        display: flex;
        align-items: center;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 400;
        color: #383838;

        .original-price {
          margin-left: 8px;
          font-size: 14px;
          color: #98a4b5;
          text-decoration: line-through;
        }
      }
    }

    .btn-add {
      width: 100%;
      margin-top: 20px;
    }

    .label-sale {
      position: absolute;
      top: 20px;
      left: 0;
      z-index: 2;
      padding: 4px 10px;
      border-radius: 0 36px 36px 0;
      background: #F5A3B7;
      font-size: 14px;
      font-weight: 500;
      color: #fff;
      text-transform: capitalize;
    }
  }

  &-image {
    overflow: hidden;
    transition: transform .2s linear;
  }

  .thumb {
    position: relative;
    width: 100%;
    height: 289px;

    &>a {
      display: block;
      overflow: hidden;
      height: 100%;

      &:hover {
        .card-image {
          transform: scale(1.02);
        }
      }
    }
  }
}