.product-gallery {
  overflow: hidden;

  .swiper {
    position: static;

    &-button {

      &-next,
      &-prev {
        margin-top: -75px;
        border-radius: 50px;
        background-color: #c0bdc5;

        svg,
        path {
          width: 11px;
          height: 19px;
          fill: #fff;
        }
      }

      &-next {
        right: -22px;
      }

      &-prev {
        left: -22px;
      }
    }

    .thumb-image {
      position: relative;
      width: 84px;
      height: 84px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.gallery {
  &-image {
    position: relative;
    width: 100%;
    height: 495px;
  }

  &-thumbs {
    margin-top: 20px;
  }
}