.rating-box {
  display: flex;
  align-items: center;
  margin-top: 10px;
  .rating {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .text-number {
    margin-left: 6px;
    color: #697586;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}