.product-page {
  padding: 40px 0;
  .box-content {
    display: flex;
    align-items: flex-start;
  }
  .product {
    &-area {
      flex: 1;
      margin-left: 20px;
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
    &-sort {
      display: flex;
      justify-content: space-between;
      margin-bottom: 28px;
      .text-total {
        font-size: 14px;
        font-weight: 500;
        color: #697586;
        text-transform: capitalize;
        &>em {
          font-style: normal;
          font-weight: 600;
        }
      }
      .sort-area {
        display: flex;
        .text {
          font-size: 14px;
          font-weight: 500;
          color: #697586;
        }
      }
    }
  }
  .filter-area {
    min-width: 270px;
    padding: 20px 20px 32px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 rgba(185, 166, 189, 0.10);
  }
}