.header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(185, 166, 189, 0.1);

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .logo {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    color: #383838;
    line-height: 25px;

    &>em {
      font-style: normal;
      color: #F5A3B7;
    }
  }

  .nav {
    display: flex;
    gap: 40px;

    &-item {
      position: relative;
      font-size: 16px;
      font-weight: 400;
      color: #383838;
      &:after {
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #000;
        transition: width .2s linear;
        content: '';
      }
      &.is-active {
        color: #000;
        &:after {
          width: 100%;
        }
      }
    }
  }

  .group-action {
    display: flex;
    gap: 30px;

    &-item {
      font-size: 12px;
      font-weight: 400;
      color: #383838;
      text-transform: uppercase;
    }

    &-cart {
      position: relative;

      .badge {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -15px;
        right: -15px;
        width: 15px;
        height: 15px;
        border-radius: 50px;
        background: red;
        font-size: 10px;
        font-weight: 400;
        color: #fff;
      }
    }
  }

  .inner {
    height: 100%;
  }
}