.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(185, 166, 189, 0.1);

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .logo {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    color: #383838;
    line-height: 25px;

    &>em {
      font-style: normal;
      color: #F5A3B7;
    }
  }

  .nav {
    display: flex;
    gap: 40px;

    &-item {
      position: relative;
      font-size: 16px;
      font-weight: 400;
      color: #383838;
      &:after {
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #000;
        transition: width .2s linear;
        content: '';
      }
      &.is-active {
        color: #000;
        &:after {
          width: 100%;
        }
      }
    }
  }

  .group-action {
    display: flex;
    gap: 20px;

    &-item {
      display: flex;
      align-items: center;
      flex-direction: column;

      .icon {
        font-size: 0;
        img {
          object-fit: cover;
        }
      }

      .text {
        margin-top: 5px;
        font-size: 12px;
        font-weight: 400;
        color: #383838;
        text-transform: uppercase;
      }
    }

    &-cart {
      position: relative;

      .badge {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -6px;
        right: -6px;
        width: 15px;
        height: 15px;
        border-radius: 50px;
        background: red;
        font-size: 10px;
        line-height: 15px;
        font-weight: 400;
        color: #fff;
      }
    }

    &-search {
      background-color: transparent;
    }
  }

  .search {
    &-box {
      position: fixed;
      top: 80px;
      left: 0;
      right: 0;
      padding: 30px 40px;
      max-width: 100%;
      background: rgba(255, 255, 255, 0.95);
      z-index: 98;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-200%);
      transition: all .3s ease-in-out;

      &.is-open {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 800px;
      height: 60px;
      margin: 0 auto;
      background-color: #fff;
      border: 1px solid #dfe1e3;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
      }

      .input-search {
        flex: 1;
        height: 100%;
        border: none;
        outline: none;
        font-size: 18px;
        line-height: 24px;
        color: #383838;
      }

      .btn-clear {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        background-color: transparent;
      }
    }
    &-result {
      position: absolute;
      top: 195px;
      left: 0;
      right: 0;
      z-index: 99;
      height: calc(100vh - 195px);
      overflow-y: auto;
      padding: 30px 50px;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

      &-content {
        display: flex;
        flex-direction: column;
      }

      &-list {
        display: flex;
        align-items: flex-start;
        gap: 30px;
        margin-top: 40px;
      }

      &-btn {
        display: inline-flex;
        justify-content: center;
      }

      .btn-view-all {
        width: auto;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        &>em {
          font-style: normal;
          font-weight: 700;
          margin: 0 4px;
        }
      }
    }
  }

  .inner {
    position: relative;
    z-index: 99;
    height: 100%;
    background-color: #fff;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}